# dependencies
/node_modules

# next.js
/.next
/out

# production
/build

# testing
/coverage

# environment
.env*
!.env.example

# local files
.DS_Store
*.log
/.firebase
supabase/.temp/
/.credentials
firebase-debug.log*
firestore-debug.log*
service-account*.json
firebase-service-account*.json

# typescript
*.tsbuildinfo
next-env.d.ts
